<!-- <div *ngIf="m_menu_items">
    <div nz-row nzJustify="space-between" [nzGutter]="['8', '24']">
        <div *ngFor="let item of m_menu_items">        
            <div nz-col nzSpan="4">
                <app-yume-card [item] ="item"></app-yume-card>
            </div>
        </div>   
    </div>
</div>



 -->


<ng-container *ngIf="m_drinkSize ?drinkSizeReady():false"></ng-container>
<ng-container *ngIf="m_menu_items ?menuItemReady():false"></ng-container>
<ng-container *ngIf="m_drinkTopping ?drinkToppingReady():false"></ng-container>
<ng-container *ngIf="m_soupSize ?soupSizeReady():false"></ng-container>
<ng-container *ngIf="m_soupTopping ?soupToppingReady():false"></ng-container>

<div *ngIf="checkReady()">
    <app-yume-drop-down [m_chosen_menu]=this.menu.getData()></app-yume-drop-down>
    <br>
    <div nz-row nzJustify="space-between" [nzGutter]="['8', '24']">
         <!-- <div *ngFor="let item of m_data"> -->
        <div *ngFor="let item of this.menu.getFilteredData()">
            
                <div nz-col nzSpan="4">
                    <app-yume-card [item] ="item"></app-yume-card>
                </div>
                    
            
        </div>   
    </div>
</div>