<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="m_driver_coords.latitude" [longitude]="m_driver_coords.longitude" [zoom]="m_zoom">
  <agm-marker [latitude]="m_user_coords.latitude" [longitude]="m_user_coords.longitude"></agm-marker>
  <agm-marker [latitude]="m_driver_coords.latitude" [longitude]="m_driver_coords.longitude"></agm-marker>
  <agm-polyline [editable]="true">
    <agm-polyline-point *ngFor="let data of m_coords_stacks" 
        [latitude]="data.latitude"
        [longitude]="data.longitude">
    </agm-polyline-point>
</agm-polyline>
</agm-map>

<!-- 
<button nz-button [nzSize]="size" nzType="primary" (click)="getLocation()">
  Track
</button>
<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <input [value]='m_latitude' (input)="m_latitude=$event.target.value" type="text" nz-input placeholder="latitude" />
  <input [value]='m_longitude' (input)="m_longitude=$event.target.value" type="text" nz-input placeholder="longitude" />
</nz-input-group>
<ng-template #suffixButton>
  <button (click)="updateCoord()"nz-button nzType="primary" nzSize="large" nzSearch>track</button>
</ng-template>
<br>
<br>

<button (click)="updateDriverCoord()"nz-button nzType="primary" nzSize="large" nzSearch>Get Driver Location</button> -->